.logo {
    grid-column: 2 / span 1;
    margin-left: 40%;
    place-self: center;
    width: 70%;
    height: 100%;
}
#welcome img {
    margin-left: 0;
    width: 50px;
    height: 50px;
}
nav {
    width: 96%;
    background-color: black;
    text-align: center;
    margin-top: 5%;
}
nav a {
    -webkit-transition: none !important; 
    -moz-transition: none !important; 
    -o-transition: none !important; 
    -ms-transition: none !important; 
    transition: none !important; 
}
nav a:link {
    color: white;
    text-decoration: none;
}
nav a:visited {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: #ffa500;
    text-decoration: none;
    translate: none;
}
article {
    width: 100%;
    word-wrap: normal;
}
.packages {
    display: grid;
    grid-template-rows: 4, 1fr;
    grid-template-columns: 1, 1fr;
    row-gap: 1em;
}
.packages img {
    height: 70%;
}
.package1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
}
.package2 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 4;
}
.package3 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 4;
}
.package4 {
    grid-row: 4 / span 1;
    grid-column: 1 / span 4;
}